---
http_interactions:
- request:
    method: get
    uri: http://da-prod-solr.library.cornell.edu/solr/blacklight/select?defType=edismax&f.author_facet.facet.limit=6&f.fast_era_facet.facet.limit=6&f.fast_genre_facet.facet.limit=6&f.fast_geo_facet.facet.limit=6&f.fast_topic_facet.facet.limit=6&f.format.facet.limit=11&f.language_facet.facet.limit=6&f.lc_alpha_facet.facet.limit=6&f.lc_callnum_facet.facet.limit=-1&f.lc_callnum_facet.facet.sort=index&f.location_facet.facet.limit=6&f.online.facet.limit=3&f.subject_content_facet.facet.limit=6&facet=true&facet.field=collection&mm=1&q=(%2Bbiology)%20OR%20phrase:%22biology%22&qt=search&rows=20&sort=score%20desc,%20pub_date_sort%20desc,%20title_sort%20asc&stats=true&stats.field=pub_date_facet&wt=ruby
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Mon, 28 Aug 2017 21:17:37 GMT
      Etag:
      - '"ZTA1YmMwMDAwMDAwMDAwMFNvbHI="'
      Content-Type:
      - text/plain;charset=utf-8
    body:
      encoding: UTF-8
      string: '{''responseHeader''=>{''zkConnected''=>true,''status''=>0,''QTime''=>2782,''params''=>{''f.subject_content_facet.facet.limit''=>''6'',''mm''=>''1'',''f.author_facet.facet.limit''=>''6'',''facet.field''=>[''online'',''format'',''author_facet'',''pub_date_facet'',''workid_facet'',''language_facet'',''fast_topic_facet'',''fast_geo_facet'',''fast_era_facet'',''fast_genre_facet'',''subject_content_facet'',''lc_alpha_facet'',''location_facet'',''hierarchy_facet'',''authortitle_facet'',''lc_callnum_facet'',''collection''],''qt''=>''search'',''f.location_facet.facet.limit''=>''6'',''f.fast_geo_facet.facet.limit''=>''6'',''f.lc_alpha_facet.facet.limit''=>''6'',''f.lc_callnum_facet.facet.limit''=>''-1'',''sort''=>''score
        desc, pub_date_sort desc, title_sort asc'',''rows''=>''20'',''f.online.facet.limit''=>''3'',''q''=>''(+biology)
        OR phrase:"biology"'',''defType''=>''edismax'',''f.fast_era_facet.facet.limit''=>''6'',''f.lc_callnum_facet.facet.sort''=>''index'',''stats''=>''true'',''f.fast_topic_facet.facet.limit''=>''6'',''wt''=>''ruby'',''facet''=>''true'',''f.fast_genre_facet.facet.limit''=>''6'',''f.format.facet.limit''=>''11'',''f.language_facet.facet.limit''=>''6'',''stats.field''=>''pub_date_facet''}},''response''=>{''numFound''=>74864,''start''=>0,''maxScore''=>2.527157E7,''docs''=>[{''holdings_record_display''=>[''{"id":"9139276","modified_date":"20150331160535","copy_number":null,"callnos":["QH308.2
        .M23 2016"],"notes":[],"holdings_desc":[],"recent_holdings_desc":[],"supplemental_holdings_desc":[],"index_holdings_desc":[],"locations":[{"code":"mann","number":69,"name":"Mann
        Library","library":"Mann Library"}]}''],''online''=>[''At the Library''],''item_record_display''=>[''{"copy_number":"1","item_type_name":"book","item_id":"9707822","year":"","item_type_id":"3","chron":"","caption":"","holds_placed":"0","temp_location":"0","on_reserve":"N","item_enum":"","item_sequence_number":"1","temp_item_type_id":"0","mfhd_id":"9139276","recalls_placed":"0","create_date":"2015-03-31
        14:49:14.0","item_barcode":"31924121235612","modify_date":"","perm_location":{"code":"mann","number":69,"name":"Mann
        Library","library":"Mann Library"}}''],''id''=>''8798981'',''format''=>[''Book''],''language_display''=>[''English.''],''pub_date_display''=>[''2016''],''pub_date_facet''=>2016,''pub_info_display''=>[''New
        York, NY : McGraw-Hill Education, [2016]''],''fulltitle_display''=>''Biology'',''title_display''=>''Biology'',''author_display''=>''Mader,
        Sylvia S., author'',''edition_display''=>[''Twelfth edition.''],''other_id_display''=>[''(O[...]
