---
http_interactions:
- request:
    method: get
    uri: https://holdings6.library.cornell.edu/holdings/retrieve_detail_short/1807908/826023/230451/4391372?Accept-Encoding=gzip,%20deflate
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"09fb0dd5754e7bce758445315fe2fcde"'
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"1807908":{"1807908":{"records":[{"bibid":"1807908","holding_id":"2212055","location_name":"engr,anx","call_number":"QA76.6
        .C85 1972","shelving_title":"","summary_holdings":[],"supplements":[],"indexes":[],"notes":[],"reproduction_note":"","urls":[],"item_count":1,"temp_locations":[],"item_status":{},"services":[],"current_issues":[],"orders":[],"onotes":[]}],"summary":{"holdinglocs":["Library
        Annex"],"locnumber":1,"status":["avail"],"avail_at":{"Library Annex":"QA76.6
        .C85 1972"},"not_avail_at":{},"onotes":[]}}},"826023":{"826023":{"records":[{"bibid":"826023","holding_id":"1006663","location_name":"math","call_number":"QA164
        .H87","shelving_title":"","summary_holdings":[],"supplements":[],"indexes":[],"notes":[],"reproduction_note":"","urls":[],"item_count":1,"temp_locations":[],"item_status":{},"services":[],"current_issues":[],"orders":[],"onotes":[]}],"summary":{"holdinglocs":["Mathematics
        Library (Malott Hall)"],"locnumber":1,"status":["avail"],"avail_at":{"Mathema[...]
- request:
    method: get
    uri: http://da-prod-solr.library.cornell.edu/solr/b7/select?defType=edismax&f.author_facet.facet.limit=6&f.fast_era_facet.facet.limit=6&f.fast_genre_facet.facet.limit=6&f.fast_geo_facet.facet.limit=6&f.fast_topic_facet.facet.limit=6&f.format.facet.limit=11&f.language_facet.facet.limit=6&f.lc_alpha_facet.facet.limit=6&f.lc_callnum_facet.facet.limit=-1&f.lc_callnum_facet.facet.sort=index&f.location_facet.facet.limit=6&f.online.facet.limit=3&f.subject_content_facet.facet.limit=6&facet=true&facet.query=pub_date_facet:%5B2015%20TO%202016%5D&mm=1&q=(%20(%2Btitle:combinatorial%20%2Btitle:algorithms)%20OR%20title_phrase:%22combinatorial%20algorithms%22)%20NOT%20((%2Bspringer)%20OR%20phrase:%22springer%22)&qt=search&rows=0&search_field=advanced&sort=score%20desc,%20pub_date_sort%20desc,%20title_sort%20asc&spellcheck.maxResultsForSuggest=1&spellcheck.q=combinatorial%20algorithms%20springer%20&wt=ruby
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Fri, 11 Aug 2017 15:20:45 GMT
      Etag:
      - '"MTU5YjAwMDAwMDAwMDAwMFNvbHI="'
      Content-Type:
      - text/plain;charset=utf-8
    body:
      encoding: UTF-8
      string: '{''responseHeader''=>{''zkConnected''=>true,''status''=>0,''QTime''=>4194,''params''=>{''f.subject_content_facet.facet.limit''=>''6'',''f.location_facet.facet.limit''=>''6'',''f.fast_geo_facet.facet.limit''=>''6'',''f.lc_alpha_facet.facet.limit''=>''6'',''f.online.facet.limit''=>''3'',''facet.query''=>[''pu[...]
